/*Layout*/
.contctsCard__container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0px;
    margin: 1em auto;
    width: 80%;
    padding: .5em;
    border: 2px solid white;
    border-radius: 5px;
    background-color: #c72b83;
    background-image: linear-gradient(249deg, #c72b83 0%, #784BA0 1%, #2B86C5 100%);
    -webkit-box-shadow: 5px 2px 29px 1px rgba(255,255,255,0.40); 
    box-shadow: 5px 2px 29px 1px rgba(255, 255, 255, 0.229);
    animation: shadow-drop-2-center;
}

.deleteIcon__container{
    justify-self: flex-end;
    align-self: center;
    padding: .2em;
    margin: 0 .5em 0 0;
    border-radius: 5px;
    background-color: rgb(240, 58, 58);
    border: 2px solid rgb(240, 58, 58);
}

.chatIcon__container{
    justify-self: center;
    align-self: center;
}

.name__container{
    justify-self: flex-start;
    align-self: center;
    margin: 0 0 0 .5em;
}

/*Typography*/
.bi-person-x-fill,
.bi-x-circle{
    color: white;
    font-size: 1.2rem;
}
    
.deleteIcon__container:active{
    transform:scale(0.93);
    transition: all 0.3s;
}

.chatIcon__container > a > i{
    color: white;
    margin: 0 auto;
    font-size: 1.8rem;
}

.chatIcon__container > a{
    color: white;
}

.name__container > span{
    color: white;
    font-size: 1.2rem;
    font-weight: 550;
    letter-spacing: 1px;
}

/*Tablets*/
@media (min-width: 765px){
    /*Typography*/
    .name__container > span{
        font-size: 1.6rem;
    }

    .chatIcon__container > a > i{
        font-size: 2.2rem;
    }

    .bi-person-x-fill,
    .bi-x-circle{
        font-size: 1.6rem;
    }
}

/*Low resolution desktop*/
@media (min-width: 1024px){
    /*Layout*/
    .contctsCard__container{
        width: 95%;
    }

    /*Typography*/
    .name__container > span{
        font-size: 1.7rem;
    }

    .chatIcon__container > a > i{
        font-size: 2.4rem;
    }
}