    /*Layout*/

.register-form__container > form{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: .5em;
    margin: 2em 1em;
    border-radius: 15px;
    backdrop-filter: blur(5px);
    background-color: rgba(255, 255, 255, 0.335);
    -webkit-box-shadow: 5px 2px 29px 1px rgba(255, 255, 255, 0.819); 
    box-shadow: 5px 1px 29px 1px rgba(255, 255, 255, 0.52);
    animation: shadow-drop-2-center;
}

.register-form__wrapper{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #c72b83;
    background-image: linear-gradient(230deg, #c72b83 5%, #784BA0 25%, #2B86C5 70%);
}

.register-form__container{
    width: 100%;
}

.register__wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: flex-start;
    width: 25%;
}

.register__wrapper > a{
    color:rgb(20, 180, 233);
}

.register-email__container{
    display: flex;
    flex-direction: column;
}

.register-email__container,
.register-name__container,
.register-password__container{
    margin-top: .5em;
}

    /*Typography*/

.register-form__container > form > h2{
    color: #8ecbf7;
    font-size: 2.5rem;
    margin-bottom: .5em;
}

.register-form__container > form > h2 > i{
    margin-left: .2em;
    color: white;
}

.error__div{
    padding: .5em;
    margin: 0 auto;
    font-weight: 700;
    font-size: 1.3rem;
    text-decoration: underline rgba(122, 212, 242, 0.937);
    color: red;
}

#register-email__input,
#register-name__input,
#register-password__input{
    background-color: rgba(255, 255, 255, 0);
    outline: none;
    border-radius: 15px;
    border: 3px solid #8ecbf7;
    padding: .5em;
    margin-bottom: .3em;
}

#register-email__input::placeholder,
#register-name__input::placeholder,
#register-password__input::placeholder{
    color: white;
}

#register-email__input:active,
#register-email__input:focus,
#register-name__input:active,
#register-name__input:focus,
#register-password__input:active,
#register-password__input:focus{
    background-color: #c72b83ae;
    border: 3px solid white;
}

    /*Button*/
#register__button{
    font-size: 1.2rem;
    font-weight: 700;
    padding: .5em;
    background-color: rgba(255, 255, 255, 0.073);
    color: white;
    border: 3px solid #8ecbf7;
    border-radius: 20px;
}

.button__container > a{
    color: white;
    font-size: 1.1rem;
    text-decoration: underline;
    
}

.button__container > button{
    margin-bottom: .3em;
}

.button__container{
    padding: .2em;
    text-align: center;
}

/*Tablets*/
@media (min-width: 765px){
    .register-form__container{
        width: 50%;
        align-self: center;
    }
}

/*Low resolution desktop*/
@media (min-width: 1024px){
    .register-form__container{
        width: 30%;
    }

    .register__wrapper{
        width: 20%;
    }
}