    /*Layout*/
.signIn__container > form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: .5em;
    margin: 2em .5em;
    backdrop-filter: blur(5px);
    background-color: rgba(222, 222, 222, 0.452);
    -webkit-box-shadow: 5px 2px 29px 1px rgba(255,255,255,0.40); 
    box-shadow: 5px 2px 29px 1px rgba(255, 255, 255, 0.229);
    animation: shadow-drop-2-center;
}

.signIn__container{
    width: 100%;
}

.SignIn__background{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #c72b83;
    background-image: linear-gradient(230deg, #c72b83 5%, #784BA0 25%, #2B86C5 70%);
}

.userName__wrapper{
    display: flex;
    flex-direction: column;
}

.password__wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.buttons__wrapper{
    display: flex;
    flex-direction: column;
}

.buttons__wrapper > input,
.registr__btn{
    margin-top: .5em;
}

.userName__wrapper, 
.password__wrapper, 
.buttons__wrapper{
    margin-top: 1em;
}

.showPasswrd{
    width: 20px;
    text-align: center;
    font-size: 1.1rem;
    color: white;
}

    /*Typography*/
#userNameInput,
#passWrdInput{
    background-color: rgb(216, 216, 216);
    outline: none;
    border: 2px solid #2B86C5;
    padding: .5em;
    margin-bottom: .3em;
}
    
#userNameInput:active,#userNameInput:focus,
#passWrdInput:active, #passWrdInput:focus{
    background-color: #c72b83a5;
}

.signIn__container> form > h2{
    font-size: 2.8rem;
    color: rgba(255, 255, 255, 0.876);
}

    /*Buttons*/
#signIn__btn{
    font-size: 1.1rem;
    padding: .5em;
    background-color: rgba(255, 255, 255, 0.908);
    color: #c72b83;
    border: none;
}

.registr__btn > a{
    font-size: 1.1rem;
    color: #c72b83;
    cursor: pointer;
}

.registr__btn{
    padding: .5em;
}

@media (min-width: 765px){
    .signIn__container{
        width: 50%;
        align-self: center;
    }
}

@media (min-width: 1024px){
    .signIn__container{
        width: 30%;
    }
}