    /*Layout*/

.upper-navbar__container{
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .3em;
    border-bottom: 3px solid white;
    background-color: #c72b83;
    background-image: linear-gradient(270deg, #c72b83 0%, #784BA0 0%, #2B86C5 100%);
    transition: 0.6s ease;
}

.add-contact-icon__container{
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: .3em .5em;
}

.add-a-contact__container > form{
    position: absolute;
    z-index: 1;
    display: flex;
    right: 0%;
    left: 10%;
    bottom: -40%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    padding: .5em;
    border: 2px solid white;
    border-radius: 15px;
    background-color: rgba(101, 101, 101, 0.169);
    -webkit-box-shadow: 5px 2px 29px 1px rgba(255,255,255,0.40); 
    box-shadow: 5px 2px 29px 1px rgba(255, 255, 255, 0.229);
    animation: shadow-drop-2-center;
    transition: all 0.3s ease;
}

.form_active > form{
    bottom: 12%;
    transition: all 0.4s;
}

.name-input__container{
    margin: 1em 0;
}

.add-btn__container{
    width: 40%;
    margin: .6em 0;
}

.close-btn__container{
    width: 100%;
    display:flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.person-plus__icon{
    justify-self: flex-start;
}

    /*Typography*/

#contact-name__input,
#contact-email__input{
    background-color: rgba(255, 255, 255, 0.073);
    outline: none;
    border-radius: 10px;
    border: 3px solid #6bbcf6;
    padding: .3em;
}

#contact-name__input::placeholder,
#contact-email__input::placeholder{
    color: white;
}

#contact-name__input:active,
#contact-name__input:focus,
#contact-email__input:active,
#contact-email__input:focus{
    background-color: #6bbcf686;
}

.add-contact-icon__container > i{
    font-size: 2rem;
    color:white;
}

.add-a-contact__container > form > h2{
    color: rgb(239, 101, 101);
    text-align: center;
}

.add-contact-icon__container > span{
    font-size: 1.2rem;
    color:white;
    text-decoration: underline;
    cursor: pointer;
}

.add-contact-icon__container > span > i{
    font-size: 1.45rem;
}

    /*Buttons*/

#form-add-button{
    width: 100%;
    font-weight: 700;
    padding: .3em;
    border: none;
    border-radius: 20px;
    background-color:rgba(255, 255, 255, 0.073);
    color:white;
    border: 3px solid #6fbef5;
    letter-spacing: 1px;
}

.person-plus__icon:active{
    transform: scale(0.95);
    transition: all 0.3s;
}

.close-btn__container > i{
    margin-left: .5em;
    color: #52b1f5;
    font-size: 1.4rem;
}

    /*Media queries*/

/*Tablets screens*/
@media (min-width: 765px){

        /*Layout*/

    .add-a-contact__container > form{
        width: 50%;
        left: 25%;
    }

    .add-btn__container{
        width: 20%;
    }

        /*Typography*/

    .add-contact-icon__container > i{
        font-size: 2rem;
    }

    .close-btn__container > i{
        font-size: 1.4rem;
    }

    .add-a-contact__container > form > h2{
        font-size: 2.5rem;
    }

    #form-add-button{
        width: 100%;
        padding: .5em;
        margin: .2em 0;
        font-weight: 400;
    }
}

/*Low resolution desktop*/
@media (min-width: 1024px){
        /*Layout*/

    .add-a-contact__container > form{
        width: 25%;
        left: 38%;
    }

    .add-btn__container{
        width: 18%;
    }

    .add-contact-icon__container{
        padding: .3em 3em;
    }

        /*Typography*/

    .add-contact-icon__container > i{
        font-size: 2.1rem;
    }
    
    .close-btn__container > i{
        font-size: 1.6rem;
    }
    
    .add-a-contact__container > form > h2{
        font-size: 2rem;
    }
}