    /*Layout*/
.welcomePage__container{
    text-align: center;
    padding: 1em;
}
    /*Typography*/
.welcomePage__title{
    font-size: 2rem;
    color: rgb(20, 180, 233);
}

.welcomePage__text{
    margin-top: 1em;
    font-size: 1.2rem;
    color: rgba(122, 212, 242, 1);
}

.particles{
    position: static;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    color:rgb(20, 180, 233);
}

@media(min-width: 765px){}
@media(min-width: 1024px){
    .welcomePage__container{
        width: 100%;
    }
}
@media(min-width: 1281px){}