    /*Layout*/
.chatSent__container{
    height: auto;
    margin-top: .5em;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: flex-end;
    align-items: flex-end;     
}

.chatRoom__container{
    height: 75vh;
    border-bottom: 1px solid rgb(20, 180, 233);
}

.userProfile__container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: .5em 0;
    padding: .5em;
    border-radius: 15px;
    background-color: rgba(122, 212, 242, 0.485);
    border: 1px solid rgb(20, 180, 233);
}

.img-name__container{
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.exitConvo__container{
    width: 20%;
}

.profileName{
    margin-left: 3.2em;
}
    /*Typography*/
.bi-chat{
    font-size: 1.5rem;
    color: rgb(20, 180, 233);
}

.bi-box-arrow-right{
    border-radius: 50%;
    font-size: 1.5rem;
    color: rgb(20, 180, 233);
}

.bi-box-arrow-right:active,
.bi-box-arrow-right:focus{
    
    background-color: rgba(83, 147, 168, 0.485);
    transition: all 0.4s ease;
}

.message__container{
    text-align: center;
    padding: .5em;
    margin-right: .5em;
    border-radius: 15px;
    background-color: rgb(20, 180, 233);
}

.message__container_Received{
    text-align: center;
    padding: .5em;
    margin-left: .5em;
    border-radius: 15px;
    background-color: lightgrey;
}



@media (min-width: 765px){
    .main-content{
        display: flex;
        align-items:center;
        justify-content: center;
        background-color: rgb(20, 180, 233);
    }

    .chatRoom__container{
        display: flex;
        flex-direction: column;
        margin: 1em 0;
        width: 80%;
        border-radius: 20px;
        background-color: white;
    }

    .userProfile__container{
        align-self: center;
        width: 50%;
    }
}

@media (min-width: 1024px){
        /*Layout*/
    .main-content{
        display: flex;
        align-items:center;
        justify-content: center;
        background-color: rgb(20, 180, 233);
    }

    .chatRoom__container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 1em 0;
        width: 40%;
        border-radius: 20px;
        background-color: white;
    }

    .chatSent__container{
        width: 100%;
        background-color: white;
    }

    .userProfile__container{
        width: 60%;
    }
}

@media (min-width: 1281px){}