    /*Layout*/

.invite-card__container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 1em 0 2em 0;
    padding: .2em;
}

.invite-info__wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
}

.invite-button__container{
    width: 80%;
    align-self: center;
    justify-self: center;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.sender-info__container{
    position: absolute;
    width: 45%;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: .3em;
    border-radius: 15px;
    border: 2px solid white;
    background-color: #c72b83;
    background-image: linear-gradient(249deg, #c72b83 0%, #784BA0 1%, #2B86C5 100%);
}

.show-email{
    background-color: rgb(113, 113, 113);
    padding: .3em;
    border-radius: 10px;
    -webkit-transform: translateY(33px);
    transform: translate(0px, 33px);
    transition: all 0.6s ease;
}

.sender-email__wrapper{
    position: relative;
    z-index: 1;
    bottom: 6%;
    transition: all 0.3s;
}

    /*Typography*/

.sender__name{
    margin: 0 .3em 0 .4em;
    color: white;
}

.sender__email{
    margin-left: .2em;
    color: white;
}

.arrow-icon_wrapper{
    transition: all 0.3s ease;
}

.arrow-icon_wrapper > i{
    color: white;
    transition: all 0.3s;
}

.arrow-down{
    -webkit-transform: rotate(-180deg);
    transform: rotate(-180deg);
    transition: all 0.3s ease;
}


    /*Buttons*/

.accept__button,
.decline__button{
    border-radius: 10px;
    border: 2px solid white;
    border-radius: 50px;
    color: white;
    font-size: 1.3rem;
}

.accept__button{
    background-color: rgb(16, 202, 16);
}

.decline__button{
    background-color: rgb(246, 41, 41);
}

.accept__button:active,
.decline__button:active{
    transform:scale(0.85);
    transition: all 0.2s ease;
}

    /*Tablets*/
@media (min-width: 765px){

        /*Layout*/

    .invite-card__container{
        margin: 1em 0 2.5em 0;
    }

    .sender-info__container{
        width: 35%;
    }

    .invite-button__container{
        width: 65%;
    }

    .show-email{
        -webkit-transform: translateY(38px);
        transform: translate(0px, 38px);
    }

        /*Typography*/
        
    .sender__name{
        font-size: 1.3rem;
    }
    
    .sender__email{
        font-size: 1.2rem;
    }

    .accept__button,
    .decline__button{
        font-size: 1.5rem;
    }
}

