    /*Layout*/

.invitation-section__container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(5px);
    background-color: rgba(228, 228, 228, 0.316);
}

.invitation-section__wrapper{
    background-color: #c72b83;
    background-image: linear-gradient(270deg, #c72b83 0%, #784BA0 0%, #2B86C5 100%);
}


/*Large mobile screens*/
@media (min-width: 360px){

        /*Layout*/

    .invitation-section__wrapper,
    .invitation-section__container{
        height: 100%;
    }
}

/*Tablets*/
@media (min-width: 765px){
        /*Layout*/

    .invitation-section__wrapper,
    .invitation-section__container{
        height: 100%;
    }
}

/*Low-resolution desktops*/
@media (min-width: 1024px){
        /*Layout*/

    .invitation-section__wrapper{
        display: flex;
        justify-content: center;
        background-color: #c72b83;
        background-image: linear-gradient(270deg, #c72b83 0%, #784BA0 0%, #2B86C5 100%);
    }

    .invitation-section__container{
        width: 45%;
        align-items: center;
        margin: 1em;
        border-radius: 15px;
        -webkit-box-shadow: 5px 2px 29px 1px rgba(255,255,255,0.40); 
        box-shadow: 5px 2px 29px 1px rgba(255,255,255,0.40);
        animation: shadow-drop-2-center;
    }
}

/*Retina screen*/
@media (min-width: 1200px){
    /*Layout*/
    .invitation-section__container{
        height: 84%;
    }
}

/*High resolution*/
@media (min-width: 1281px){
        /*Layout*/
        
    .invitation-section__container{
        height: 86%;
    }
}