    /*Layout*/
.searchContcts__container{
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 3px solid white;
    background-color: #c72b83;
    background-image: linear-gradient(270deg, #c72b83 0%, #784BA0 0%, #2B86C5 100%);
    transition: 0.6s ease;
}

.plus__container{
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: .3em .5em;
}

.addContcts__form > form{
    position: absolute;
    z-index: 1;
    display: flex;
    right: 0%;
    left: 10%;
    bottom: -40%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    padding: .5em;
    border: 2px solid white;
    border-radius: 15px;
    background-color: rgba(123, 123, 123, 0.49);
    -webkit-box-shadow: 5px 2px 29px 1px rgba(255,255,255,0.40); 
    box-shadow: 5px 2px 29px 1px rgba(255, 255, 255, 0.229);
    animation: shadow-drop-2-center;
    transition: all 0.3s ease;
}

.form_active > form{
    bottom: 12%;
    transition: all 0.4s;
}

.addContcts__Name{
    margin: 1em 0;
}

.addContctsBtn__container{
    width: 40%;
    margin: .6em 0;
}

.closeBtn__container{
    width: 100%;
    display:flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

    /*Typography*/
#addContctsName_input,
#addContctsEmail_input{
    background-color: rgba(211, 211, 211, 1);
    outline-color: #c72b83;
    border-radius: 10px;
    border: 2px solid #c72b83;
    padding: .3em;
}

#addContctsName_input:active,
#addContctsName_input:focus,
#addContctsEmail_input:active,
#addContctsEmail_input:focus{
    background-color: #c72b837d;
}

.plus__container > i{
    font-size: 2rem;
    color:white;
}

.bi-person-plus-fill{
    justify-self: flex-start;
}

.addContcts__form > form > h2{
    color: rgb(239, 101, 101);
    text-align: center;
}

    /*Buttons*/

#addContctsBtn{
    width: 100%;
    font-weight: 450;
    padding: .3em;
    border: none;
    border-radius: 15px;
    background-color:white;
    color:rgba(5, 5, 5, 0.512);
    letter-spacing: 1px;
}

.bi-person-plus-fill:active{
    transform: scale(0.95);
    transition: all 0.3s;
}

.closeBtn__container > i{
    margin-left: .5em;
    color: white;
    font-size: 1.4rem;
}

@media (min-width: 765px){
    /*Layout*/
    .addContcts__form > form{
        width: 50%;
        left: 25%;
    }

    .addContctsBtn__container{
        width: 20%;
    }

    /*Typography*/
    .plus__container > i{
        font-size: 2rem;
    }

    .closeBtn__container > i{
        font-size: 1.4rem;
    }

    .addContcts__form > form > h2{
        font-size: 2.5rem;
    }

    #addContctsBtn{
        width: 100%;
        padding: .5em;
        margin: .2em 0;
        font-weight: 400;
    }
}

@media (min-width: 1024px){
    /*Layout*/
    .addContcts__form > form{
        width: 25%;
        left: 38%;
    }

    .addContctsBtn__container{
        width: 18%;
    }

    .plus__container{
        padding: .3em 3em;
    }

    /*Typography*/
    .plus__container > i{
        font-size: 2.1rem;
    }
    
    .closeBtn__container > i{
        font-size: 1.6rem;
    }
    
    .addContcts__form > form > h2{
        font-size: 2rem;
    }
}