ul{
    margin: 0;
    padding: 0;
}

    /*Layout*/
.nav__container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    padding: 1em .5em .5em .5em;
    border-bottom: 3px solid white;
    background-color: #c72b83;
    background-image: linear-gradient(249deg, #c72b83 0%, #784BA0 1%, #2B86C5 100%);
}

.nav__TitleNtabs{
    display: flex;
    align-items: center;
    margin: 0 auto;
}

.nav__tabs{
    display: flex;
    align-items: center;
    margin-left: 1.2em;
}

.nav__tabs > a,
.nav__tabs > i {
    padding: .2em .5em;
    list-style: none;
    border-radius: 10px;
    color: white;
    cursor: pointer;
}

.show{
    display: none;
}

.signin{
    display: none;
}

    /*Typography*/
.nav__title > a{
    color:white;
    font-size: 2rem;
    margin-left: .1em;
}

.nav__tabs > i,
.nav__tabs > a{
    margin-left: .3em;
    font-size: 1.3rem;
}

.nav__tabs > a:active,
.nav__title >a:active{
    transform: scale(0.90);
    transition: all 0.2s;
}

.current__page{
    border-bottom: 1px solid white;
}

.nav__tabs > a:hover,
.nav__tabs > a:active,
.nav__tabs > a:focus{
    transform: scale(1.1);
    transition: all 0.3s  ease;
}

.nav__tabs > a:active{
    transform: scale(0.90);
    transition: all 0.3s ease;
}

.nav__tabs > a:nth-child(3):hover,
.nav__tabs > a:nth-child(3):active{
    transform: scale(1.1);
    transform: rotate(180deg);
    transition: all 0.3s ease;
}

@media (min-width: 765px){
        /*Layout*/
    .nav__TitleNtabs{
        margin: 0 0 0 1em;
    }

    /*Typography*/
    .nav__title > a{
        font-size: 2.8rem;
    }

    .nav__tabs > i,
    .nav__tabs > a{
        font-size: 1.6rem;
    }
}

@media (min-width: 1024px){
        /*Layout*/
    .nav__TitleNtabs{
        margin: 0 0 0 1em;
    }

    .nav__container{
        background-image: linear-gradient(230deg, #c72b83 0%, #784BA0 0%, #2B86C5 100%);
    }
        /*Typography*/
    .nav__tabs > li,
    .nav__tabs > i{
        font-size: 1.3rem;
    }

    .nav__title > a{
        font-size: 3.3rem;
    }
}

@media (min-width: 1281px){
        /*Typography*/
    .nav__title{
        font-size: 3.5rem;
    }

    .nav__tabs > a,
    .nav__tabs > i{
        font-size: 1.5rem;
    }
}

