ul{
    margin: 0;
    padding: 0;
}

    /*Layout*/
.nav__container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    padding: 1em .5em .5em .5em;
    border-bottom: 1px solid rgb(20, 180, 233);
}

.nav__TitleNtabs{
    display: flex;
    align-items: center;
    margin: 0 auto;
}

.nav__tabs{
    display: flex;
    align-items: center;
    margin-left: 1em;
}

.nav__tabs > a,
.nav__tabs > i {
    padding: .3em 1em;
    list-style: none;
    border-radius: 10px;
    color: rgb(20, 180, 233);
    cursor: pointer;
}

.show{
    display: none;
}

.signin{
    display: none;
}

    /*Typography*/
.nav__title > a{
    color:rgb(20, 180, 233);
}

.nav__tabs > i{
    font-size: 0.98rem;
}

.nav__tabs > i{
    margin-left: .5em;
    font-size: 0.98rem;
}

.nav__tabs > a:active{
    background-color: rgba(122, 212, 242, 0.485);
    transition: all 0.2s ease;
}

@media (min-width: 765px){
        /*Layout*/
    .nav__TitleNtabs{
        margin: 0 0 0 1em;
    }
}

@media (min-width: 1024px){
        /*Layout*/
    .nav__TitleNtabs{
        margin: 0 0 0 1em;
    }
        /*Typography*/
    .nav__tabs > li,
    .nav__tabs > li:first-child,
    .nav__tabs > i{
        font-size: 1.2rem;
    }

    .nav__tabs > a:first-child:hover,
    .nav__tabs > i:hover{
        color: rgb(235, 63, 63);
    }

    .nav__title{
        font-size: 3rem;
    }

    .nav__title > a:hover{
        color:rgb(16, 131, 169);
        transition: all 0.3s;
    }
}

@media (min-width: 1281px){
        /*Typography*/
    .nav__title{
        font-size: 3.5rem;
    }

    .nav__tabs > li,
    .nav__tabs > li:first-child{
        font-size: 1.5rem;
    }
}

