    /*Layout*/
.searchContcts__container{
    position: absolute;
    bottom: 0%;
    left: 0%;
    right: 0%;
    display: flex;
    align-items: center;
    padding: 1em;
    border-top: 3px solid white;
    background-color: #c72b83;
    background-image: linear-gradient(270deg, #c72b83 0%, #784BA0 0%, #2B86C5 100%);
    transition: 0.6s ease;
}

.plus__container{
    width: 90%;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: .3em .5em;
}

.addContcts__form > form{
    position: absolute;
    display: none;
    bottom: 10%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: .5em;
    border-radius: 15px;
    border: 3px solid white;
    background-color: rgba(121, 121, 121, 0.512);
}

.form_active > form{
    display: flex;
}

.addContcts__Name{
    margin: 1em 0;
}

.addContctsBtn__container{
    margin: .5em 0;
}

.closeBtn__container{
    width: 100%;
    display:flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

    /*Typography*/
#addContctsName_input,
#addContctsEmail_input{
    background-color: rgba(211, 211, 211, 1);
    outline-color: #c72b83;
    border-radius: 10px;
    border: 1px solid #c72b83;
    padding: .3em;
}

#addContctsName_input:active,
#addContctsName_input:focus,
#addContctsEmail_input:active,
#addContctsEmail_input:focus{
    background-color: #c72b837d;
}

.plus__container > i{
    font-size: 1.5rem;
    color:white;
}

.bi-plus-circle{
    justify-self: flex-start;
}

.addContcts__form > form > h2{
    color: white;
    font-size: 2.3rem;
}

    /*Buttons*/

#addContctsBtn{
    font-weight: 300;
    border: none;
    border-radius: 15px;
    background-color:white;
    letter-spacing: 1px;
}

.bi-plus-circle:active{
    transform: scale(0.95);
    transition: all 0.3s;
}

.closeBtn__container > i{
    margin-left: .5em;
    color: white;
    font-size: 1.2rem;
}

@media (min-width: 765px){
    /*Layout*/
    .addContcts__form > form{
        width: 50%;
        left: 25%;
    }

    .addContctsBtn__container{
        width: 20%;
    }

    /*Typography*/
    .plus__container > i{
        font-size: 2rem;
    }

    .closeBtn__container > i{
        font-size: 1.4rem;
    }

    .addContcts__form > form > h2{
        font-size: 2.5rem;
    }

    #addContctsBtn{
        width: 100%;
        padding: .5em;
        margin: .2em 0;
        font-weight: 400;
    }
}

@media (min-width: 1024px){
    /*Layout*/
    .addContcts__form > form{
        width: 25%;
        left: 38%;
    }

    .addContctsBtn__container{
        width: 18%;
    }

    .plus__container{
        padding: .3em 3em;
    }

    /*Typography*/
    .plus__container > i{
        font-size: 2.1rem;
    }
    
    .closeBtn__container > i{
        font-size: 1.6rem;
    }
    
    .addContcts__form > form > h2{
        font-size: 2.8rem;
    }
}