    /*Layout*/
.registr__container > form{

    display: flex;
    flex-direction: column;
    align-items: center;
    padding: .5em;
    margin: 2em 1em;
    backdrop-filter: blur(5px);
    background-color: rgba(222, 222, 222, 0.452);
    -webkit-box-shadow: 5px 2px 29px 1px rgba(255,255,255,0.40); 
    box-shadow: 5px 2px 29px 1px rgba(255, 255, 255, 0.229);
    animation: shadow-drop-2-center;
}

.Registr__background{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #c72b83;
    background-image: linear-gradient(230deg, #c72b83 5%, #784BA0 25%, #2B86C5 70%);
}

.registr__container{
    width: 100%;
}

.register__wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: flex-start;
    width: 25%;
}

.register__wrapper > a{
    color:rgb(20, 180, 233);
}

.fullname__wrapper{
    display: flex;
    flex-direction: column;
}

#EmailInput{
    background-color: rgb(216, 216, 216);
    outline: none;
    border: 2px solid #2B86C5;
    padding: .5em;
    margin-bottom: .3em;
}

#EmailInput:active,
#EmailInput:focus{
    background-color: #c72b83ae;
}

    /*Typography*/
.registr__container > form > h2{
    color: white;
    font-size: 2.5rem;
}

.error__div{
    padding: .5em;
    margin: 0 auto;
    font-weight: 700;
    font-size: 1.3rem;
    text-decoration: underline rgba(122, 212, 242, 0.937);
    color: red;
}

.bi-arrow-left{
    color: white;
    font-size: 1.2rem;
}

@media (min-width: 765px){
    .registr__container{
        width: 50%;
        align-self: center;
    }
}

@media (min-width: 1024px){
    .registr__container{
        width: 30%;
    }

    .register__wrapper{
        width: 20%;
    }
}