.ContctsScroll__container{
    overflow-y: auto ; 
    height: 100%; 
    width:95%;
}

/*Tablets*/
@media (min-width: 765px){
    .ContctsScroll__container{
        width: 70%;
    }
}

/*Low resolution desktop*/
@media (min-width: 1024px){
    .ContctsScroll__container{
        width:60%;
    }
}