*{
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Ubuntu', sans-serif;
}

a{
  text-decoration: none;
}

i{
  cursor: pointer;
}

#root{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/*-Fonts: Ubuntu -> font-family: 'Ubuntu', sans-serif;*/
/*-Colors: Blue/Light-blue - White - purple*/
/*Light Blue: rgba(122, 212, 242, 0.485)*/
/*Blue: rgb(20, 180, 233)*/
