    /*Layout*/
.contcts__secndContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    backdrop-filter: blur(5px);
    background-color: rgba(228, 228, 228, 0.316);
}

.contcts__firstContainer{
    background-color: #c72b83;
    background-image: linear-gradient(270deg, #c72b83 0%, #784BA0 0%, #2B86C5 100%);
}

/*Large mobile screens*/
@media (min-width: 360px){
    /*Layout*/
    .contcts__firstContainer,
    .contcts__secndContainer{
        height: 85vh;
    }
}

/*Tablets*/
@media (min-width: 765px){
    /*Layout*/
    .contcts__firstContainer,
    .contcts__secndContainer{
        height: 87vh;
    }
}

/*Low-resolution desktops*/
@media (min-width: 1024px){
    .contcts__firstContainer{
        display: flex;
        justify-content: center;
        background-color: #c72b83;
        background-image: linear-gradient(270deg, #c72b83 0%, #784BA0 0%, #2B86C5 100%);
    }

    .contcts__secndContainer{
        width: 45%;
        align-items: center;
        margin: 1em;
        border-radius: 15px;
        -webkit-box-shadow: 5px 2px 29px 1px rgba(255,255,255,0.40); 
        box-shadow: 5px 2px 29px 1px rgba(255,255,255,0.40);
        animation: shadow-drop-2-center;
    }
}

/*High resolution*/
@media (min-width: 1281px){
    .contcts__secndContainer{
        height: 77vh;
    }
}