.messg__container{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    max-width: 30%;
    border-radius: 20px;
    padding: .5em;
    margin: 1em 1em;
    color: white;
    font-weight: 400;
    letter-spacing: 1px;
}

.messg__wrapper{
    display: grid;
}

.right{
    justify-self: flex-end;
    background-color: rgb(20, 180, 233);
}

.left{
    justify-self: center;
    align-self: flex-start;
    background-color: rgb(176, 176, 176); 
    border: 2px solid rgb(20, 180, 233);
}

/*Typography*/
.sentby__container{
    display: flex;
    width: 50%;
    padding: .2em;
    margin-left: .2em;
    align-self: flex-start;
    font-weight: bold;
    color: black;
}

.sentText__container{
    max-width: 100%;
    overflow-wrap: break-word;
}